<h1>Potrebujeme od Vás zopár informácií</h1>
<h5>O vás</h5>
<form [formGroup]="step2Form">
    <div class="input-field">
        <label for="first-name">Meno</label>
        <input id="first-name" type="text" placeholder="Zadajte Vaše meno" formControlName="firstName" maxlength="30">
    </div>
    <div class="input-field">
        <label for="last-name">Priezvisko</label>
        <input id="last-name" type="text" placeholder="Zadajte Vaše priezvisko" formControlName="lastName" maxlength="30">
    </div>
    <div class="input-field">
        <label for="email-address">E-mailová adresa</label>
        <input id="email-address" type="text" placeholder="Zadajte Váš e-mail" formControlName="email" maxlength="50">
    </div>
    <div class="input-field">
        <label for="phone-number">Telefónne číslo</label>
        <div class="phone-prefix">
            <span class="phone-prefix-flag fi fi-sk"></span>
            <span>+421</span>
        </div>
        <input id="phone-number" type="text" formControlName="phone" maxlength="15">
    </div>
    <div class="buttons">
        <button class="btn-back" type="button" (click)="goToPreviousStep()">Späť</button>
        <button class="btn-continue" type="button" (click)="goToNextStep()" [disabled]="!step2Form.valid">Pokračovať</button>
    </div>
</form>