<div class="footer">
    <div class="footer-logo">
        <img src="dog-logo.svg" alt="Goodboy-logo"/>
        <h1>Good boy</h1>
    </div>
    <div class="footer-links">
        <h3>Nadácia Good boy</h3>
        <a href="#">O projekte</a>
        <a href="#">Ako na to</a>
        <a href="#">Kontakt</a>
    </div>
    <div class="footer-links">
        <h3>Nadácia Good boy</h3>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in interdum ipsum, sit amet.</a>
    </div>
    <div class="footer-links last">
        <h3>Nadácia Good boy</h3>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in interdum ipsum, sit amet.</a>
    </div>
</div>