.step-indicator {
    height: 7px;
    margin-right: 6px;
    display: inline-block;
    border-radius: 5px;
    width: 25px;
    background-color: #DCDCDC;
}

.active {
    width: 50px;
    background: linear-gradient(90deg,rgba(159, 108, 78, 1) 0%, rgba(202, 137, 99, 1) 100%);
}

.donate-element {
    width: 45%;
    margin: auto;
}

.donate-form {
    width: 52%;
    display: inline-block;
}

.donate-image {
    width: 40%;
    display: inline-block;
    float: right;
}

.donate-image img {
    float: right
}

@media (max-width: 1920px) {
    .donate-element {
        width: 80%;
    }
}