.header {
    border-bottom: 3px solid #EBEBEB;
    padding: 10px 500px 30px;
    color: #9F9F9F;
    font-weight: bold;
    margin-bottom: 100px;
}

.header-name {
    float: left;
}

.header-socials {
    float: right;
}

fa-icon {
    padding: 0 8px;
}